from enum import Enum
import dataset
from fastapi import FastAPI, Depends

db = dataset.connect("sqlite:///../database/hhdemo.db")

# Create the API
app = FastAPI()


@app.get("/")
def get_root():
    return {"/docs": "OpenAPI documentation", "/redoc": "Redoc documentation"}


@app.get("/{{name}}")
def get_data(limit: int = 10):
    data_table = db["{{name}}"]
    return list(data_table.find(_limit=limit))


@app.get("/{{name}}/columns")
def get_columns():
    data_table = db["{{name}}"]
    return data_table.columns


